<meta charset="UTF-8">
<style>
@font-face {
    font-family: 'unifont';
    src: url('unifont-medium_light.ttf') format('truetype');
}
*{
    font-family:"unifont",Lucida,consolas,mono;
    font-size:16px;
    line-height:16px;
    image-rendering: -moz-crisp-edges;
}
section.deck{
    padding : 16px;
}
article.big{
    padding : 32px;
}
article.big img{
    width : 64px;
    height : 64px;
}
.inline-block{
    display : inline-block;
}
</style>
<body>
<section>
<pre>
┌────────────────────────────────┐
│ My personal favicon collection │
└────────────────────────────────┘
</pre>
