<meta charset="UTF-8">
<style>
@font-face {
    font-family: 'unifont';
    src: url('unifont-medium_light.ttf') format('truetype');
}
*{
    font-family:"unifont",Lucida,consolas,mono;
    font-size:16px;
    line-height:16px;
    image-rendering: -moz-crisp-edges;
}
section.deck{
    padding : 16px;
}
article.big{
    padding : 32px;
}
article.big img{
    width : 64px;
    height : 64px;
}
.inline-block{
    display : inline-block;
}
</style>
<body>
<section>
<pre>
┌────────────────────────────────┐
│ My personal favicon collection │
└────────────────────────────────┘
</pre>
<section class="deck"><p>47</p><article class="small inline-block"><img src="alien.png"/></article><article class="small inline-block"><img src="art.png"/></article><article class="small inline-block"><img src="back.png"/></article><article class="small inline-block"><img src="ballon.png"/></article><article class="small inline-block"><img src="banana.png"/></article><article class="small inline-block"><img src="bee.png"/></article><article class="small inline-block"><img src="beer.png"/></article><article class="small inline-block"><img src="boat.png"/></article><article class="small inline-block"><img src="bricks.png"/></article><article class="small inline-block"><img src="caca.png"/></article><article class="small inline-block"><img src="campfire.png"/></article><article class="small inline-block"><img src="carot.png"/></article><article class="small inline-block"><img src="car.png"/></article><article class="small inline-block"><img src="cat.png"/></article><article class="small inline-block"><img src="coffee.png"/></article><article class="small inline-block"><img src="cri.png"/></article><article class="small inline-block"><img src="dance.png"/></article><article class="small inline-block"><img src="darkhole.png"/></article><article class="small inline-block"><img src="desert.png"/></article><article class="small inline-block"><img src="dino.png"/></article><article class="small inline-block"><img src="dog.png"/></article><article class="small inline-block"><img src="gradient.png"/></article><article class="small inline-block"><img src="gsm.png"/></article><article class="small inline-block"><img src="heart.png"/></article><article class="small inline-block"><img src="house.png"/></article><article class="small inline-block"><img src="knife.png"/></article><article class="small inline-block"><img src="montains.png"/></article><article class="small inline-block"><img src="moon.png"/></article><article class="small inline-block"><img src="mosquito.png"/></article><article class="small inline-block"><img src="motif.png"/></article><article class="small inline-block"><img src="ocean.png"/></article><article class="small inline-block"><img src="pattern.png"/></article><article class="small inline-block"><img src="penis.png"/></article><article class="small inline-block"><img src="petals.png"/></article><article class="small inline-block"><img src="plain.png"/></article><article class="small inline-block"><img src="rain.png"/></article><article class="small inline-block"><img src="skull.png"/></article><article class="small inline-block"><img src="smoke.png"/></article><article class="small inline-block"><img src="snow.png"/></article><article class="small inline-block"><img src="sparse.png"/></article><article class="small inline-block"><img src="sun.png"/></article><article class="small inline-block"><img src="sword.png"/></article><article class="small inline-block"><img src="textil.png"/></article><article class="small inline-block"><img src="tree.png"/></article><article class="small inline-block"><img src="ufo.png"/></article><article class="small inline-block"><img src="vagin.png"/></article><article class="small inline-block"><img src="zombie.png"/></article></section><section><article class="big inline-block"><img src="alien.png"/><legend>alien</legend></article><article class="big inline-block"><img src="art.png"/><legend>art</legend></article><article class="big inline-block"><img src="back.png"/><legend>back</legend></article><article class="big inline-block"><img src="ballon.png"/><legend>ballon</legend></article><article class="big inline-block"><img src="banana.png"/><legend>banana</legend></article><article class="big inline-block"><img src="bee.png"/><legend>bee</legend></article><article class="big inline-block"><img src="beer.png"/><legend>beer</legend></article><article class="big inline-block"><img src="boat.png"/><legend>boat</legend></article><article class="big inline-block"><img src="bricks.png"/><legend>bricks</legend></article><article class="big inline-block"><img src="caca.png"/><legend>caca</legend></article><article class="big inline-block"><img src="campfire.png"/><legend>campfire</legend></article><article class="big inline-block"><img src="carot.png"/><legend>carot</legend></article><article class="big inline-block"><img src="car.png"/><legend>car</legend></article><article class="big inline-block"><img src="cat.png"/><legend>cat</legend></article><article class="big inline-block"><img src="coffee.png"/><legend>coffee</legend></article><article class="big inline-block"><img src="cri.png"/><legend>cri</legend></article><article class="big inline-block"><img src="dance.png"/><legend>dance</legend></article><article class="big inline-block"><img src="darkhole.png"/><legend>darkhole</legend></article><article class="big inline-block"><img src="desert.png"/><legend>desert</legend></article><article class="big inline-block"><img src="dino.png"/><legend>dino</legend></article><article class="big inline-block"><img src="dog.png"/><legend>dog</legend></article><article class="big inline-block"><img src="gradient.png"/><legend>gradient</legend></article><article class="big inline-block"><img src="gsm.png"/><legend>gsm</legend></article><article class="big inline-block"><img src="heart.png"/><legend>heart</legend></article><article class="big inline-block"><img src="house.png"/><legend>house</legend></article><article class="big inline-block"><img src="knife.png"/><legend>knife</legend></article><article class="big inline-block"><img src="montains.png"/><legend>montains</legend></article><article class="big inline-block"><img src="moon.png"/><legend>moon</legend></article><article class="big inline-block"><img src="mosquito.png"/><legend>mosquito</legend></article><article class="big inline-block"><img src="motif.png"/><legend>motif</legend></article><article class="big inline-block"><img src="ocean.png"/><legend>ocean</legend></article><article class="big inline-block"><img src="pattern.png"/><legend>pattern</legend></article><article class="big inline-block"><img src="penis.png"/><legend>penis</legend></article><article class="big inline-block"><img src="petals.png"/><legend>petals</legend></article><article class="big inline-block"><img src="plain.png"/><legend>plain</legend></article><article class="big inline-block"><img src="rain.png"/><legend>rain</legend></article><article class="big inline-block"><img src="skull.png"/><legend>skull</legend></article><article class="big inline-block"><img src="smoke.png"/><legend>smoke</legend></article><article class="big inline-block"><img src="snow.png"/><legend>snow</legend></article><article class="big inline-block"><img src="sparse.png"/><legend>sparse</legend></article><article class="big inline-block"><img src="sun.png"/><legend>sun</legend></article><article class="big inline-block"><img src="sword.png"/><legend>sword</legend></article><article class="big inline-block"><img src="textil.png"/><legend>textil</legend></article><article class="big inline-block"><img src="tree.png"/><legend>tree</legend></article><article class="big inline-block"><img src="ufo.png"/><legend>ufo</legend></article><article class="big inline-block"><img src="vagin.png"/><legend>vagin</legend></article><article class="big inline-block"><img src="zombie.png"/><legend>zombie</legend></article></section>