@font-face {
    font-family: 'pixel';
    src: url('unifont-medium_light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'pixel';
    src: url('TopazSemi.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
*{
    font-family:"pixel",Lucida,consolas,mono;
    font-size:16px;
    line-height:16px;
    margin : 0;
    padding : 0;
    image-rendering: -moz-crisp-edges;
    scrollbar-color: #fff #00f;
}

body{
    padding : 16px;
    background-color : #88f;
}
pre{
    color : #fff;
    text-shadow : 8px 16px #00f;
}
legend{
    /*opacity : 0;*/
    padding-left : 8px;
    font-weight : bold;
    text-transform : capitalize;
    margin-bottom : 16px;
    background-color : #008;
    color : #88f;
}

section.deck{
    padding : 16px;
}

article.big{
    margin-right : 16px;
    margin-bottom : 32px;
}

article.big .card img{
    /*opacity : 0;*/
    margin-left : 8px;
    width : 64px;
    height : 64px;
}

.card {
    /*background-image : url("back.png");*/
    background-size : 32px;
    position : relative;
    background-color : white;
    width : 80px;
    padding-bottom : 16px;
    box-shadow : 8px 16px 0px 1px blue;
}

article.big:hover .card{
    top : 16px;
    left : 8px;
    box-shadow : none;
}

.inline-block{
    display : inline-block;
}
